# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
*.ipynb_checkpoints

# Data
*.csv
*.tsv
*.json
*.xlsx

# Video
*.mp4
*.avi
*.mov
*.mkv

# Audio
*.wav
*.mp4

# Model checkpoints
*.pth
*.pt
*.ckpt

# Logs
*.log

# Env
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Model folders
checkpoints/
runs/
outputs/